.bg1{
    background-image: linear-gradient(to bottom,  #ebf1f8,  #dbe7f4);
}
.wrap{
    max-width: 960px;
    width: 100%;
    margin: auto;
}
h2{
    font-size: 24px;
    font-weight: bold;
    color: #052855;
    line-height: 1.5;
}
.login{
    display: flex;
    justify-content: end;
    
}
.login a{
    text-decoration: none;
    color: black;
    margin: 30px 20px 0 20px;
    transition: 2s;
    font-size: 12px;
}
.login a:hover{
    color: blue;
}
nav{
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}
nav img{
    left: 0;
}
nav a{
    display: block;
    height: 20px;
    font-size: 13px;
    margin: auto;
    text-decoration: none;
    color: black;
    transition: 4s;
}
nav a:hover{
    border-bottom: 2px solid blue;
}
nav .free{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 4px;
    width: 100px;
    height: 40px;
    color: #fff;
    background-color:#0061ff ;
    transition: 0.5s;
}
nav .free:hover{
    background-color:#052855 ;
}

.intro{
    display: flex;
    align-items: center;
    line-height: 1.5;
}
.intro img{
    width: 50%;
}
.intro .first_context{
    width: 50%;
}
.intro h2{
    font-size: 30px;

}
.intro h2 span{
    color: #3d8dd1;
}
.intro p{
    width: 400px;
    font-size: 14px;
    margin: 20px 0;
    color: rgb(131, 130, 130);
}
.intro a{
    font-size: 13px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 72px;
    background-color: #0061ff;
    color: white;
    border-radius: 8px;
    transition: 0.5s;
}
.intro a:hover{
    background-color:#052855 ;
}
.intro .card{
    font-size: 12px;
    color: rgb(131, 130, 130);
}
.bg2{
    width: 100%;
    height: 65px;
    display: inline-block;
    color: #ecf2f9;
    background-color: #edf3fa;
}
.bg3{
    background-color: #f7f8f9;
}
.shop{
    text-align: center;
    width: 100%;
    margin: auto;
    display: inline-block;
    color: #052855;
    line-height: 1.5;
}
.shop:first-child{
    margin-top: 60px;
}
.shop p{
    font-size: 13px;
    padding: 30px 0;
}
.context{
    display: flex;
    margin: 50px 0;
    color: #052855;
}
.context:nth-child(even){
    flex-direction: row-reverse;
}
.context .text{
    width: 50%;
    
}
.context img{
    width: 50%;
}
.context .text{
    padding: 50px 0;
}
.text p{
    width: 400px;
    padding: 20px 0;
    font-size: 14px;
    line-height: 1.5;
}
ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: disc;
    font-size: 13px;
    line-height: 2;
}
li{
    width: 50%;
    float: left;
    list-style-position: inside;
}
li::marker{
    color: #0061ff;
}
.context a{
    height: 20px;
    color:#0061ff;
    display: inline-block;
    padding-top: 30px;
    font-size: 15px;
    text-decoration: none;
    border-bottom: 2px #0061ff solid;
}
.context a::after{
    content: "\2192";
    padding-left: 5px;
}      
.bg4{
    background-color:#f7f8f9 ;
}
.title{
    display: flex;
    justify-content: center;
    padding: 60px;
}
.benefit{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}
.suport{
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    margin: auto;
    justify-content: center;
}
.benefit img{
    width: 100%;
}
.benefit h2{
    font-size: 20px;
    padding: 10px;
}
.benefit p{
    line-height: 1.5;
}
.brand{
    display: flex;
    flex-wrap: nowrap;
}
.recommended p{
    width: 600px;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
    margin: auto;
}
.sign1{
    padding-top: 20px;
}
.sign2{
    padding-top: 20px;
    color: #052855;
}
.sign3{
    font-size: 12px;
}
.bg5{
    background-color: #ebf1f8;
    width: 100%;
    height: 200px;
}
.big{
    font-size: 32px;
    text-align: center;
    padding: 40px;
}
.free14{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 4px;
    width: 200px;
    height: 40px;
    color: #fff;
    background-color:#0061ff ;
    transition: 0.5s;
}
.free14:hover{
    background-color:#052855 ;
}

footer{
    width: 100%;
    height: 600px;
    background-color: #00142d;
}
.about1{
    display: flex;
    border-bottom:1px solid #ebf1f880;
}
.about1 a{
    padding: 20px 20px 20px 0;
    color: #fff;
    text-decoration: none;
}
.block{
    border-bottom: 1px solid #ebf1f880;
}
.about2{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.link{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;
}
.link p{
    color:#fff;
    padding: 10px 0;
}
.link a{
    color: #ffffff80;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 10px 0;
    transition: 0.5s;
}
.link a:hover{
    color: #fff;
}
.block2{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
}
.block2 a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-weight: bold;    
    width: 220px;
    height: 36px;
    color: #000;
    text-decoration: none;
    background-color: rgb(223, 180, 94);
    padding: 30 50px;;
}